.section2{
}
.sec{
    // border: 1px solid black;
    margin: 260px auto ;
    max-width: 1400px;
    max-height: auto;
}
.section2_header{
    margin :auto;
}
  .section2_hr{
    //   text-align:center;
    margin :auto;

     width:5%;
     color: #dedee6;
    //  margin-top:210px;
  }
  .section2_title{
      font-size: 55px;
      /* padding-top: 210px;
      padding-right: 20px; */
    text-align:center;
    color: #4C5057;
  }
.section2_images {
//     position: relative;

//    top: 108px;
//         left: 120px;
//         right: 20px;
// margin:108px  auto  auto 120px;
margin-top:108px;
margin-left: 120px;

}
.section2_img1{
    position: relative;
    max-width: 45.2%;
    max-height: auto;
    float: left;
    
}

.buttomleft{
    position: absolute;
    bottom: 40px;
  left: 50px;
  font-size: 30px;
    color: #ffff;
}
  .buttomleft1{
    font-size: 20px;
    color: #646F78;

}
.section2_img2{
    max-width: 22%;
    max-height: auto;
    position: relative;
    float:inline-end;
    margin-left: 6px;
}
.section2_img3{
    max-width: 22%;
    max-height: auto;
    position: relative;
    float:inline-end;
    margin-left: 6px;
}
.section2_img4{
    max-width: 22%;
    max-height: auto;
    position: relative;
    float:inline-end;
    margin: 6px 0 0 6px;
}
.section2_img5{
    max-width: 22%;
    max-height: auto;
    position: relative;
    float:inline-end;
    margin: 6px 0 0 6px;
}