.Epic_section{
  margin: 260px 10px;
  max-width: 1400px;
  max-height: auto;
    .header{
        margin :auto;
        hr{
          margin :auto;
           width:5%;
           color: #dedee6;
        }
        h2{
          font-size: 55px;
          text-align:center;
          color: #4C5057;
        }
    }

    .Epic_images {
      max-width: 1080px;
      margin:108px auto;
    .row{
      .nopadding {
        position: relative;
        padding: 0 !important;
        margin: 2px 0 !important;
        .ss{
          position: relative;

        .bottom-left {
          position: absolute;
          bottom: 25px;
          left: 35px;
          color: white;
          font-size: 25px;

          .buttomleft1{
            font-size: 20px;
            color: #646F78;
          }
        }
      }

     }
      .img1{
          width: 99%;
        
        }
      
      .img2{
        width: 98%;

        }
      .img3{
        width: 98%;
       
          margin-top:4px;
        }
      .img4{
        width: 98%;
          
        }
      .img5{
        width: 98%;
          
          margin-top:4px;

        }
      }
    }

}

  


// .buttomleft{
//     position: absolute;
//     bottom: 40px;
//   left: 50px;
//   font-size: 30px;
//     color: #ffff;
// }
//   .buttomleft1{
//     font-size: 20px;
//     color: #646F78;

// }
