.stay_section{
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    .container{
        display: block;
        max-width: 826px;
        height: 630px;
        box-shadow: 0 0 10px 5px #F2F2F2;
        margin-left: 120px;
        margin-top: 175px;
        .header{
            float:left;
            margin-left:75px;
            margin-top:85px;
            hr{ 
                width:50%;
                color: #dedee6;
            }
            h2{
                font-size: 4rem;
                color: #4C5057;
            }
        }
        .Stay_image{
        float:right;
        display: inline;
        max-width:350px;
        height:480px;
        opacity: 0.15;
        }

     .Stay_paragraph{
        p{
            float:left;
            display: block;
            width: 18em;
            margin-left:75px;
            margin-top: 65px;
            color: #8C8E92;
        }
        button {
            font-family: 'Noto Sans', sans-serif;
            font-size: 16px;
            float: left;
            width: 190px;
            height: 63px;
           margin-top:30px;
           margin-left: 95px;
            color: #474848;
            border: 2px #fcfdff;
            border-radius: 40px;
            background: transparent;
            border-style: groove;
        }}
    }
    .Stay_image2{
        img{
                position: absolute;
                top: 295px;
                left: 505px;
        }
    }
}


 




  