.stay_section {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
}

.stay_section .container {
  display: block;
  max-width: 826px;
  height: 630px;
  -webkit-box-shadow: 0 0 10px 5px #F2F2F2;
          box-shadow: 0 0 10px 5px #F2F2F2;
  margin-left: 120px;
  margin-top: 175px;
}

.stay_section .container .header {
  float: left;
  margin-left: 75px;
  margin-top: 85px;
}

.stay_section .container .header hr {
  width: 50%;
  color: #dedee6;
}

.stay_section .container .header h2 {
  font-size: 4rem;
  color: #4C5057;
}

.stay_section .container .Stay_image {
  float: right;
  display: inline;
  max-width: 350px;
  height: 480px;
  opacity: 0.15;
}

.stay_section .container .Stay_paragraph p {
  float: left;
  display: block;
  width: 18em;
  margin-left: 75px;
  margin-top: 65px;
  color: #8C8E92;
}

.stay_section .container .Stay_paragraph button {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  float: left;
  width: 190px;
  height: 63px;
  margin-top: 30px;
  margin-left: 95px;
  color: #474848;
  border: 2px #fcfdff;
  border-radius: 40px;
  background: transparent;
  border-style: groove;
}

.stay_section .Stay_image2 img {
  position: absolute;
  top: 295px;
  left: 505px;
}

.Epic_section {
  margin: 260px 10px;
  max-width: 1400px;
  max-height: auto;
}

.Epic_section .header {
  margin: auto;
}

.Epic_section .header hr {
  margin: auto;
  width: 5%;
  color: #dedee6;
}

.Epic_section .header h2 {
  font-size: 55px;
  text-align: center;
  color: #4C5057;
}

.Epic_section .Epic_images {
  max-width: 1080px;
  margin: 108px auto;
}

.Epic_section .Epic_images .row .nopadding {
  position: relative;
  padding: 0 !important;
  margin: 2px 0 !important;
}

.Epic_section .Epic_images .row .nopadding .ss {
  position: relative;
}

.Epic_section .Epic_images .row .nopadding .ss .bottom-left {
  position: absolute;
  bottom: 25px;
  left: 35px;
  color: white;
  font-size: 25px;
}

.Epic_section .Epic_images .row .nopadding .ss .bottom-left .buttomleft1 {
  font-size: 20px;
  color: #646F78;
}

.Epic_section .Epic_images .row .img1 {
  width: 99%;
}

.Epic_section .Epic_images .row .img2 {
  width: 98%;
}

.Epic_section .Epic_images .row .img3 {
  width: 98%;
  margin-top: 4px;
}

.Epic_section .Epic_images .row .img4 {
  width: 98%;
}

.Epic_section .Epic_images .row .img5 {
  width: 98%;
  margin-top: 4px;
}

.footer {
  margin-top: 100px;
  height: auto;
  background-color: #2E3134;
}

.footer .container .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 140px;
  font-size: 30px;
  width: auto;
}

.footer .container .items h2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50px;
  font-size: 55px;
  color: #D4D5D5;
}

.footer .container .items span {
  padding-top: 10px;
  font-size: 13px;
  color: #787B7D;
  margin-top: 35px;
}

.footer .container .items .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.footer .container .items .input-group div {
  margin: 8px;
}

.footer .container .items .input-group input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #2F3235;
  font-size: 17px;
}

.footer .container .items .input-group button {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  float: left;
  width: 190px;
  height: 63px;
  color: #ffff;
  border: 2px #3C3F41;
  border-radius: 40px;
  background-color: #3C3F41;
  margin-top: 25px;
}

.footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #7F8183;
}

.footer .list div {
  margin: 8px 50px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', San-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 600px) and (max-width: 1300px) {
  .stay_section {
    margin: 0 auto;
  }
  .stay_section .container {
    max-width: 80%;
    min-height: 1039px;
  }
  .stay_section .container .Stay_image {
    display: block;
    max-width: 50%;
    margin-right: 150px;
  }
  .stay_section .container .Stay_paragraph p {
    display: block;
    padding-left: 20px;
  }
  .stay_section .Stay_image2 img {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .stay_section .container {
    max-width: 98%;
    min-height: 1039px;
    margin: 0 auto;
    padding: 0;
  }
  .stay_section .container .Stay_image {
    display: block;
    display: none;
    max-width: 10%;
    max-height: auto;
  }
  .stay_section .container .Stay_paragraph p {
    padding: 0;
    margin: 0 20px;
  }
  .stay_section .Stay_image2 img {
    display: none;
  }
  .Epic_section .Epic_images .row .img1 {
    width: 98%;
  }
  .footer {
    width: 100%;
  }
  .footer .container .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 140px;
    font-size: 30px;
    width: auto;
  }
  .footer .container .items h2 {
    top: 25px;
    font-size: 30px;
  }
  .footer .container .items span {
    padding-top: 5px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=sections.css.map */