@import 'section1';
@import 'section2';
@import 'section3';
*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body {
    font-family: 'Open Sans', San-Serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


 @media (min-width: 600px) and (max-width: 1300px){
    .stay_section{
        margin: 0 auto;
            .container{
                max-width: 80%;
                min-height: 1039px;
        
            .Stay_image{
                display: block;
           max-width:50%;
     margin-right: 150px;
            }
    
         .Stay_paragraph{
            p{
                display: block;
                padding-left: 20px;
            }}
         
        }
        .Stay_image2{
            img{
                display: none;
            }
        }
    }
}    
    
@media only screen and (max-width: 650px){
    .stay_section{
        // margin: 0 auto;

            .container{
                max-width: 98%;
                min-height: 1039px;
                margin: 0 auto;
                padding: 0;

            .Stay_image{
                display: block;
                display: none;

                max-width:10%;
                max-height: auto;
        // margin: 0 auto;

            }
    
         .Stay_paragraph{
            p{
                padding: 0;
                margin: 0 20px;
            }}

        }
        .Stay_image2{
            img{
                display: none;
            }
        }
    }
    .Epic_section .Epic_images .row .img1 {
        width: 98%;
    }
    
    .footer{
        width: 100%;
        .container{
            // padding-right: 0;
     .items {  
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 140px;
        font-size: 30px;
        width: auto;
        h2{
            top: 25px;
            font-size: 30px;
        }
        span{
            padding-top: 5px;
        font-size: 10px;
        }
        // .input-group{
        //     display: flex;
        //     width: auto;
        //     flex-direction: column;
        //     justify-content: center;
        //     flex-wrap: wrap;
        //     margin-top: 50px;
        //     div {
        //         margin: 8px;
        //     }
        //     input{
        //         border-top-style: hidden;
        //             border-right-style: hidden;
        //             border-left-style: hidden;
        //             border-bottom-style: groove;
        //             background-color:#2F3235;
        //           font-size: 17px;
        //     }
            
        //     // button{
        //     //    font-family: 'Noto Sans', sans-serif;
        //     //     font-size: 13px;
        //     //     float: left;
        //     //     width: 190px;
        //     //    height: 63px;
        //     //    color: #ffff;
        //     //    border: 2px #3C3F41;
        //     //    border-radius: 40px;
        //     //    background-color: #3C3F41; 
        //     //    margin-top: 25px;
        //     // }
        // }
    //  }
    //  .list{
        
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-between;
    //     color: #7F8183;
    
    //     div {
    //         margin: 8px 50px;
    //     }
    //  }
    }}
    
}
    
    











}    
    
    
       
























