body {
    font-family: 'Open Sans', San-Serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section1{
    position: relative;

}
.container{

display: block;
max-width: 826px;
height: 630px;
/* background-color: lightgray; */
box-shadow: 0 0 10px 5px #F2F2F2;
margin-left: 90px;
margin-top: 60px;


}
.section1-title{
    float:left;
font-size: 70px;
padding-top:50px;
color: #4C5057;
padding-left:73px;
}
.img_1{
    float:right;
display: inline;
width:350px;
height:480px;
opacity: 0.15;
padding-right: 70px;
}
/* .hf{
    float:left;

} */


.Stay_paragraph{
    float:left;

display: inline;

    width: 18em;
    padding-left:73px;

color: #8C8E92;
}

.btn-default {
    clear: both;
    font-family: 'Noto Sans', sans-serif;
    font-size: 11px;
    float: left;
    padding-left: 25px;
    padding-right: 25px;

   margin-top:30px;
   margin-left: 70px;
    color: #474848;
    letter-spacing: 1px;
    line-height: 40px;
    border: 2px #fcfdff;
    border-radius: 40px;
    background: transparent;
    border-style: groove;
  }
  .img2 {
    position: absolute;
    top: 335px;
    left: 500px;
    max-width: 100%;
    height: auto;
  }

  /* .section2{
display: block;
max-width: 826px;
height: 630px;
background-color: red;


  } */
  .section2_header{
    padding-top: 210px;
    /* padding-left: 520px; */
    padding-right: 20px;
  }
  .section2_hr{
      text-align:center;
 width:5%;
  color: #dedee6;
  /* margin-top:210px; */
  

  }
  .section2_title{
      font-size: 55px;
      /* padding-top: 210px;
      padding-right: 20px; */
    text-align:center;
    color: #4C5057;


  }
.section2_images {
    position: relative;

        /* top: 200px; */
        left: 80px;
        right: 20px;
}
.section2_img1{
    max-width: 41%;
    max-height: auto;
    position: relative;
    float: left;
    
}

.section2_img2{
    max-width: 20%;
    max-height: auto;

    position: relative;
    float:inline-end;
    padding-left: 10px;
}
.section2_img3{
    max-width: 20%;
    max-height: auto;

    position: relative;
    float:inline-end;
    padding-left: 6px;
}
.section2_img4{
    max-width: 20%;
    max-height: auto;

    position: relative;
    float:inline-end;
    padding-left: 10px;
    padding-top: 6px;

}
.section2_img5{
    max-width: 20%;
    max-height: auto;

    position: relative;
    float:inline-end;
    padding-left: 6px;
    padding-top: 6px;
}

  @media only screen and (max-width: 1200px) {
    .img2 {
        max-width: 40%;
        float: left;
    }
    .img_1{
    
    max-width:50%;
     padding-right: 110px;
    }

    .section2 {
        max-width: 80%;

     /* margin-left:50px; */

    }
    .section2_img1{
        max-width: 100%;
        padding-left: 7px;

    }



    .section2_img2{
        max-width: 48.5%;
        padding-top: 10px;


    }
    
    .section2_img3{
        max-width: 48.5%;
        padding-top: 10px;
        padding-left: 12.64px;

     


    }
    .section2_img4{
        max-width: 48.5%;
        padding-top: 10px;
     


    }
    .section2_img5{
        max-width: 48.5%;
        padding-top: 10px;
        padding-left: 12.64px;
    }

  }
  @media only screen and (max-width: 950px) {
    .img2 {
      display:none;
    }
    .img_1{
        float: left;
        /* display: block; */
        max-width:30%;
        max-height: 20%;
         padding-right: 210px;
       /* display:none; */

    }
    .Stay_paragraph{
        
        /* display: block;
        padding-left:25px;
        width: 22em;
        margin-bottom: 20px; */

    }
    .container{
        max-width: 90%;
         min-height: 1000px;
         margin-left: 30px;
    }

    .section2{
        padding-right: 50px;


    }
    .section2_img2{
        max-width: 100%;
        padding-top: 10px;
    }


    .section2_img3{
        max-width: 100%;
        padding-top: 10px;
        /* padding-left: 12.64px; */

     


    }
    .section2_img4{
        max-width: 100%;
        padding-top: 10px;
     


    }
    .section2_img5{
        max-width: 100%;
        padding-top: 10px;
        /* padding-left: 12.64px; */
    }
  }